:root {
    --main: rgb(70, 168, 70);
    --main-light: rgb(205, 235, 205);
    --text: rgb(20, 28, 39);
    --shadow: rgb(219, 219, 219);
    --grey: rgb(160, 160, 160);
    --grey-light: rgb(207, 207, 207);
    --light: rgb(245, 245, 245);
}